/*

Störmer Murphy and Partners

Alex Feyerke for We Are Fellows, 2012

*/

@import "compass";

$wrapperWidth: 1190px;
$halfColumn: $wrapperWidth / 14;
$column: 2 * $halfColumn;
$gutter: 10px;

$hoverBG: #e5e5e5;
$white: #FFFFFF;
$black: #000000;

$demi: 'ITCFranklinGothicW01-Dm 812668', Helvetica, sans;
$book: 'ITCFranklinGothicW01-Bk 812647', Helvetica, sans;

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
}

body{
  margin: 10px 0 0 0;
  padding: 0;
  height: 100%;
  font: normal 75%/1.28571429 'ITCFranklinGothicW01-Bk 812647', Helvetica, sans;
  background: $white;
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  //background: RGBA(200,200,200,.2);
  #content {
    margin: 0 0 0 $column + 105px;
    width: 12 * $halfColumn + 2 * $gutter;
    width: 1115px;
    position: relative;
    .viewport{
      overflow: scroll;
    }
  }
  overflow: hidden;
}

header{
  width: $column;
  background: $white;
  min-height: 100%;
  position: absolute;
  margin-left: 105px;
  a.title{
    margin: 77px 0 0 10px;
    display: block;
    h1{
      background: url("../images/smp_logo.gif") no-repeat;
      text-indent: -999px;
      height: 115px;
    }
  }
  #nav{
    margin: 55px 0 0 $gutter;
    padding: 0;
    li{
      list-style: none;
      margin: 11px 0 0 0;
      padding: 0;
      &.current_page_item{
        font-family: $demi;
      }
      a{
        text-decoration: none;
        color: $black;
      }
    }
  }
  .contact{
    position: absolute;
    bottom: 134px;
    left: 10px;
    a{
      color: $black;
      text-decoration:none;
    }
    .phone{
      font-size: .9em;
      display: block;
      font-family: $demi;
    }
    .mail{
      display: block;
      font-family: $demi;
      margin-top: 2px;
      margin-bottom: 9px;
    }
    .imprint{
      font-size: .9em;
      line-height: 2em;
    }
    .language{
      font-size: .9em;
      float:right;
      line-height: 2em;
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
}

ul.projectList{
  width: $column;
  float:left;
  margin: 0;
  padding:0;
  border-right: 1px dotted $white;
  @include single-transition(background, .25s);
  a{
    color: $black;
    text-decoration:none;
    &:hover{
      color: $black;
    }
  }
  li{
    list-style: none;
    &.listTitle{
      padding: 0;
      text-transform: uppercase;
      margin: 67px 0 43px 10px;
      font-family: $demi;
    }
    &.project{
      padding: 8px 2 * $gutter $gutter $gutter;
      min-height: 90px;
      margin-bottom: 22px;
      position: relative;
      margin-right: $gutter;
      @include single-transition(background, .25s);
      strong{
        display: block;
        margin-bottom: 7px;
        font-family: $demi;
        font-size: .9em;
      }
      span{
        line-height: 17px;
      }
      &:hover{
        background: $hoverBG;
        @include border-radius(5px);
        cursor: pointer;
        padding-right: 30px;
        &:after{
          content: "⟶";
          display: block;
          position: absolute;
          right: 10px;
          bottom: 5px;
        }
      }
    }
  }
  &:hover{
    width: $column + 2 * $gutter;
    margin: 0 0 0 -1*$gutter;
    background: $white;
    border-right: none;
    li{
      &.listTitle{
        margin-left: 2 * $gutter;
      }
      &.project{
        margin-left: $gutter;
      }
    }
    &+ul{
      width: $column - $gutter;
      li{
        &.listTitle{
          margin-left: 0;
        }
        &.project{
          margin-left: 0;
          padding: 8px $gutter $gutter 0;
        }
      }
    }
  }
}

#backgroundImage {
  position: absolute;
  z-index: -10;
  right: 0;
  top: 0;
  width: 1115px;
  overflow: hidden;
  img{
    float:right;
  }
}