/*

Stรörmer Murphy and Partners

Alex Feyerke for We Are Fellows, 2012

*/

@import "compass";

$wrapperWidth: 1190px;
$halfColumn: $wrapperWidth / 14;
$column: 2 * $halfColumn;
$gutter: 10px;

$hoverBG: #e5e5e5;
$white: #FFFFFF;
$black: #000000;

$whiteTransparent: RGBA(255,255,255,.5);
$whiteTransparentHover: RGBA(255,255,255,.7);

$demi: 'ITCFranklinGothicW01-Dm 812668', Helvetica, sans;
$book: 'ITCFranklinGothicW01-Bk 812647', Helvetica, sans;

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.group:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection { background: #fc7c00; color: #fff; text-shadow: none; }
::selection { background: #fc7c00; color: #fff; text-shadow: none; }

body{
  margin: 10px 0 0 0;
  padding: 0;
  font: normal 75%/1.28571429 'ITCFranklinGothicW01-Bk 812647', Helvetica, sans;
  background: $white;
  display:none;
}

.cache{
  display: none;
}

h1, h2, h3{
  font-weight: normal ;
}

a{
  color: $black;
  text-decoration: none;
  &:hover, &:visited, &:active{
    color: $black;
    text-decoration: none;
  }
}

b, strong {
  font-weight: normal;
  font-family: $demi;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  overflow-x: hidden;
  #content {
    margin: 0 0 0 $column;
    width: 12 * $halfColumn + 2 * $gutter;
    width: 1115px;
    position: relative;
    border-top: 1px solid RGBA(255,255,255, 0.1);
    .viewport{
      margin-top: -1px;
      background: url('../images/bg_general.gif') fixed 270px;
      &.studio, &.imprint{
        background: url('../images/bg_general_grey.gif') fixed 270px;
      }
    }
  }
}

.topBar{
  width: 100%;
  height:10px;
  display: block;
  position: fixed;
  top:0;
  left:0;
  background:$white;
  z-index:222;
}

header{
  width: $column;
  background: $white;
  min-height: 100%;
  position: fixed;
  margin-left: 0;
  z-index: 400;
  a.title{
    margin: 77px 0 0 10px;
    display: block;
    h1{
      background: url("../images/smp_logo.gif") no-repeat;
      text-indent: -999px;
      color: $white;
      height: 115px;
    }
  }
  #nav{
    margin: 55px 0 0 $gutter;
    padding: 0;
    font-size: 13px;
    ul{
      padding: 0 0 0 20px;
    }
    li{
      list-style: none;
      margin: 11px 0 0 0;
      padding: 0;
      &.current_page_item, &.current_page_parent{
        font-family: $demi;
      }
      a{
        text-decoration: none;
        color: $black;
        &:hover{
          font-family: $demi;
        }
      }
    }
  }
  .contact{
    position: absolute;
    bottom: 134px;
    left: 10px;
    a{
      color: $black;
      text-decoration:none;
      &:hover{
        font-family: $demi;
      }
    }
    .phone{
      font-size: .9em;
      display: block;
      font-family: $demi;
    }
    .mail{
      display: block;
      font-family: $demi;
      margin-top: 2px;
      margin-bottom: 9px;
    }
    .imprint{
      font-size: .9em;
      line-height: 2em;
    }
    .language{
      font-size: .9em;
      float:right;
      line-height: 2em;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 53px;
  background: $white;
  width: 100%;
}

.listTitles{
  position: fixed;
  z-index:200;
  .listTitle{
    width: $column - $gutter;
    float:left;
    padding: 0;
    text-transform: uppercase;
    margin: 67px 0 43px 10px;
    font-family: $demi;
  }
}

ul.projectList{
  width: $column;
  float:left;
  margin: 0;
  padding:0;
  min-height: 5px;
  font-size: 13px;
  //@include single-transition(background, .25s);
  a{
    position: relative;
    display: block;
    color: $black;
    text-decoration:none;
    &:hover{
      color: $black;
    }
    &:last-child{
      margin-bottom: 60px;
    }
  }
  &.active{
    a{
      &:first-child{
        margin-top: 131px;
        display: block;
      }
    }
  }
  li{
    list-style: none;
    &.project{
      padding: 8px 2 * $gutter $gutter $gutter;
      min-height: 90px;
      margin-bottom: 22px;
      position: relative;
      //@include single-transition(background, .25s);
      strong{
        display: block;
        margin-bottom: 7px;
        font-family: $demi;
        font-size: .9em;
      }
      span{
        line-height: 17px;
      }
      &:hover{
        background: $hoverBG;
        @include border-radius(2px);
        cursor: pointer;
        &:after{
          content: "⟶";
          display: block;
          position: absolute;
          right: 10px;
          bottom: 5px;
        }
      }
    }
  }
  &.index{
    li.welcome{
      margin-top: 240px;
      margin-bottom: 100px;
      cursor: default;
      &:hover{
        background: none;
        &:after{
          display: none;
        }
      }
    }
    &:first-child{
      background: none;
      padding-bottom: 50px;
      *{
        visibility: hidden;
      }
      &:hover{
        background: $white;
        *{
          visibility: visible;
        }
      }
    }
  }
  &.active.hover, &.index:first-child{
    width: $column + 2 * $gutter;
    margin: 0 0 0 -1*$gutter;
    li{
      &.project{
        margin-right: $gutter;
        margin-left: $gutter;
      }
    }
    &+ul{
      width: $column - $gutter;
      li{
        &.project{
          margin-left: 0;
          padding: 8px 2*$gutter $gutter 0;
        }
      }
    }
  }
  &.active.hover{
    background: $white;
  }
  &.projectDescription{
    width: $column*3 + 2*$gutter;
    margin-left: 330px;
    .projectSlider{
      background: RGBA(255,0,0,.2);
      background: $white;
      padding: 10px 40px 90px;
      .header{
        background: $white url("../images/arrow_up.png") no-repeat;
        background-position: 483px 27px;
        width: 510px;
        margin: -10px 0 50px -40px;
        padding: 13px 40px 1px 40px;
        h1{
          margin-top:10px;
          font-family: $demi;
        }
        &:hover{
          cursor: pointer;
        }
      }
      .fieldCollection{
        margin-bottom: 40px;
        .field {
          margin-bottom: 4px;
          width: 220px;
          float: left;
          &:nth-child(odd){
            width: 225px;
          }
          span{
            text-transform: capitalize;
            &.lowercase{
              text-transform: lowercase;
            }
          }
        }
      }
      h2 {
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 3px;
      }
      span, p.address{
        font-family: $demi;
        font-size: 18px;
      }
      p.address{
        margin-top: 0px;
      }
      a.datasheet{
        padding: 9px 35px 9px 10px;
        margin: 0 0 40px 0;
        display: inline-block;
      }
      .description {
        float: right;
        font-size: 14px;
        line-height: 1.43em;
        padding: 0 0 0 150px;
        margin-bottom: 40px;
      }
      &.fixedProjectSliderHeader{
        padding-top:109px;
        .header{
          position: fixed;
          top: 0px;
          background: $white url("../images/arrow_down.png") no-repeat;
          background-position: 483px 27px;
          z-index: 1000;
        }
      }
      .similarProjects{
        h2{
          margin: 60px 0 40px 0;
        }
        div{
          width: 50%;
          float:left;
          a{
            strong{
              font-family: $demi;
            }
          }
        }
      }
    }
  }
}

a.datasheet{
  @include border-radius(2px);
  background: $hoverBG url("../images/arrow_right_padded.png") no-repeat 100% 47%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 9px 35px 9px 10px;
  font-size: 11px;
  margin: 0 0 40px 0;
  display: inline-block;
  color: $black;
  text-decoration: none;
}

// project page image navi

.nextNavi, .prevNavi{
  display: block;
  width: 170px;
  position: fixed;
  &:hover{
    a{
      opacity: 1;
    }
  }
  a{
    position: relative;
    width: 170px;
    height: 100%;
    float: left;
    opacity: 0;
    font-family: $demi;
    @include transition(opacity .25s, background .25s);
    text-decoration: none;
    background: $whiteTransparent;
    &:hover{
      background: $whiteTransparentHover;
    }
    span{
      color: $black;
      @include rotate(-90deg);
      display:block;
      text-align: center;
      font-size: 17px;
    }
    &.next {
      &.lastImageInGallery{
        display: none;
      }
      span{
        margin: 155px 0 0 0px;
      }
    }
    &.repeat{
      height: 50%;
      display: none;
      &.lastImageInGallery{
        display: block;
      }
    }
    &.nextProject{
      height: 50%;
      display: none;
      &.lastImageInGallery{
        display: block;
      }
      span{
        margin: 155px 0 0 0px;
      }
    }
    &.previous {
      display: block;
      span{
        margin: 310px 0 0 0px;
      }
    }
  }
}

#backgroundImage {
  position: fixed;
  z-index: -10;
  right: 0;
  top: 10px;
  overflow: hidden;
  .prevNavi, .nextNavi{
    position: absolute;
    height: 100%;
    z-index: 200;
    .repeat{
      height: 100%;
    }
  }
  .columnsOverlay{
    background: url('../images/bg_general.gif') fixed 270px;
    width: 1115px;
    position: absolute;
  }
  img{
    float:right;
  }
  &.studio{
    position: relative;
    top: 0;
  }
  &.press{
    //z-index:299;
  }
}

// studio page
.showOnHover{
  opacity: 0;
  @include transition(opacity .25s);
  &.isHovering{
    opacity: 1;
  }
}

.hideOnHover{
  opacity: 1;
  @include transition(opacity .25s);
  &.isHovering{
    opacity: 0;
  }
}

.studio{
  position:relative;
  z-index: 300;
  strong{
    text-transform: uppercase;
    font-family: $demi;
  }
  ul{
    margin:0;
    padding:0;
    li{
      margin: 0;
      list-style: none;
    }
  }
  .about{
    margin: 40px 0 0 10px;
    height: 702px;
    .info{
      ul{
        li{
          margin: 10px 0 0 0;
          .datasheet{
            margin: 0;
          }
        }
      }
    }
    .imageBlock{
      float:left;
      position: relative;
      img{
        position: absolute;
        top: 0;
      }
      p{
        font-size: 14px;
        line-height: 20px;
        width: 300px;
      }
    }
    .info{
      position: relative;
      float:left;
      width: 160px;
    }
    .first{
      width: 319px;
      margin-left: 96px;
    }
    .second{
      width: 488px;
      margin-left: 21px;
    }
  }
  .partners{
    margin: 89px 0 0 10px;
    position:relative;
    strong{
      display: block;
      position: absolute;
      left:0;
      top:0;
    }
    ul{
      li{
        width: 511px;
        position:relative;
        height: 405px;
        span{
          font-family: $demi;
          font-size: 18px;
          margin: 5px 10px 0 10px;
        }
        p{
          width: 150px;
          margin: 0 10px;
          margin: 42px 10px 0 10px;
        }
        &:nth-child(1){
          margin-left:499px;
          margin-bottom: 50px;
          img{
            display: block;
            position: absolute;
            float:right;
            right: 10px;
            top:0;
          }
        }
        &:nth-child(2){
          margin-bottom: 50px;
          margin-left: 1px;
          span, p{
            display: block;
            float:left;
            margin-left:341px;
          }
          img{
            display: block;
            position: absolute;
            float:right;
            left: 0;
            top:0;
          }
        }
        &:nth-child(3){
          margin-left:428px;
          margin-bottom: 50px;
          img{
            display: block;
            position: absolute;
            float:right;
            right: 10px;
            top:0;
          }
        }
      }
    }
  }
  .staff{
    margin: 89px 0 0 0;
    position:relative;
    strong{
      display: block;
      position: absolute;
      left:10px;
      top:0;
    }
    .staffRow{
      margin-bottom: 21px;
      &.rowType_1{
        .staffImages{
          li{
            &:nth-child(1){
              margin-left: 10px;
            }
            &:nth-child(2){
              margin-left: 21px;
            }
            &:nth-child(3){
              margin-left: 276px;
            }
          }
        }
      }
      &.rowType_2{
        .staffImages{
          li{
            &:nth-child(1){
              margin-left: 95px;
            }
            &:nth-child(2){
              margin-left: 106px;
            }
            &:nth-child(3){
              margin-left: 106px;
            }
          }
        }
      }
      &.rowType_3{
        .staffImages{
          li{
            &:nth-child(1){
              margin-left: 10px;
            }
            &:nth-child(2){
              margin-left: 106px;
            }
            &:nth-child(3){
              margin-left: 191px;
            }
          }
        }
      }
      &.rowType_4{
        .staffImages{
          li{
            &:nth-child(1){
              margin-left: 266px;
            }
            &:nth-child(2){
              margin-left: 21px;
            }
            &:nth-child(3){
              margin-left: 21px;
            }
          }
        }
      }
      &.rowType_5{
        .staffImages{
          li{
            &:nth-child(1){
              margin-left: 10px;
            }
            &:nth-child(2){
              margin-left: 276px;
            }
            &:nth-child(3){
              margin-left: 21px;
            }
          }
        }
      }
    }
    .staffInfo {
      width: 170px;
      height: 192px;
      float: left;
      li {
        a{
          height: 53px;
          margin: 0 1px;
          padding: 19px 0 0 9px;
          @include border-radius(2px);
          display: block;
          @include transition(background-color .25s);
          background-color: none;
          &:hover, &.hover{
            background: url("../images/mail.gif") no-repeat 100% 47%;
            background-color: $hoverBG;
            opacity: 1;
          }
        }
        &:first-child{
          margin-top: 33px;
        }
      }
    }
    .staffImages{
      li{
        float:left;
        position: relative;
        .overlay {
          display: block;
          position: absolute;
          right: 0;
          width: 150px;
          background: $whiteTransparentHover;
          top: 122px;
          height: 70px;
          padding: 18px 20px;
          opacity: 0;
          @include transition(opacity .25s);
          &.hover{
            opacity: 1;
          }
          .title{
            font-family: $demi;
            text-transform: uppercase;
            font-size: 12px;
            display: block;
          }
          .phone{
            font-family: $demi;
            font-size: 18px;
            display: block;
          }
        }
        &:hover{
          cursor: pointer;
           .overlay{
            opacity: 1;
          }
        }
      }
    }
  }
  .jobs{
    margin: 89px 0 0 10px;
    position:relative;
    strong{
      display: block;
    }
    .subline{
      font-family: $demi;
      font-size: 18px;
      text-transform: none;
      width: 100%;
      margin: 45px 0;
      padding-right: 850px;
    }
    .general{
      width: 490px;
      float:left;
      font-size: 14px;
      line-height: 20px;
      margin-right: 10px;
    }
    ul{
      display: block;
      width: 240px;
      float: left;
      margin: 14px 0 0 10px;
      li{
        width: 240px;
        strong{
          font-size: 11px;
          text-transform: none;
        }
        p{
          margin-top: 1px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .awards{
    margin: 89px 0 0 10px;
    position:relative;
    strong{
      display: block;
    }
    ul{
      display: block;
      margin: 25px 0 100px 160px;
      width: 850px;
      li{
        width:170px;
        padding:10px;
        float:left;
        min-height: 152px;
        h2{
          font-family: $demi;
          font-size: 12px;
          margin-bottom: 0;
        }
        p{
          margin-top: 5px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

.viewport.press{
  //z-index:300;
  position: relative;
  h1{
    font-family: $demi;
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: normal;
  }
  h3{
    font-family: $demi;
    margin: 0 0 5px 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
  }
  ul.newsItems{
    width: 359px;
    margin: 0 0 0 0;
    padding: 76px 0 100px 0;
    background: $white;
    li{
      list-style: none;
      width: 339px;
      margin: 0 0 40px 10px;
      &>a{
        @include border-radius(2px);
        display: block;
        padding: 10px;
        @include single-transition(background none);
        &:hover{
          background: $hoverBG url("../images/arrow_right_padded.png") no-repeat 100% 29%;
        }
      }
      .newsItemView{
        display: none;
      }
    }
  }
  .newsItemView{
    background: $white;
    width: 360px;
    padding: 25px 20px 10px;
    position: fixed;
    display: block;
    right: 0;
    top: -1px;
    height: auto;
    img{
      margin: 19px 0 0 0;
      width: 100%;
    }
    .info{
      margin: 38px 0 0 0;
      .type{
        width: 40%;
        float:left;
      }
      .attachment{
        width: 60%;
        float:right;
        text-align: right;
        .datasheet{
          margin-bottom: 0;
        }
      }
    }
    .description{
      margin: 25px 0;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.viewport.imprint{
  z-index: 300;
  position: relative;
  top: -10px;
  font-size: 13px;
  .contact{
    margin: 132px 0 0 10px;
    float:left;
  }
  .info{
    margin: 120px 0 0 161px;
    float: left;
    width: 500px;
  }
}

.hidden{
  visibility: hidden;
}

@media only screen and (max-width: 1400px) {
  header {
    padding-left: 10px;
    .contact {
      left: 20px;
    }
  }
}

/*

$wrapperWidth: 1190px;
$halfColumn: $wrapperWidth / 14; -> 85
$column: 2 * $halfColumn; -> 170 -> 136
$gutter: 10px; -> 8px

 */

$smallColumn: 136px;
$smallGutter: 8px;


@media only screen and (max-width: 1200px), screen and (max-height: 700px){
  body{
    margin: 8px 0 0 0;
    //font: normal 60%/1.28571429 'ITCFranklinGothicW01-Bk 812647', Helvetica, sans;
  }
  .wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
    #content {
      margin: 0 0 0 $smallColumn;
      width: 832px;
      position: relative;
      border-top: 1px solid RGBA(255,255,255, 0.1);
      .viewport{
        margin-top: -1px;
        background: url('../images/bg_general_1024.gif') fixed 270px;
        &.studio, &.imprint{
          background: url('../images/bg_general_grey_1024.gif') fixed 270px;
        }
      }
    }
  }
  .topBar{
    height:8px;
  }
  header{
    width: 136px;
    a.title{
      margin: 77px 0 0 8px;
      display: block;
      h1{
        background: url("../images/smp_logo.gif") no-repeat;
        height: 115px;
        background-size: 80%;
      }
    }
    #nav{
      margin: 55px 0 0 8px;
      font-size: 12px;
      ul{
        padding: 0 0 0 20px;
      }
      li{
        list-style: none;
        margin: 11px 0 0 0;
      }
    }
    .contact{
      left: 18px;
      font-size: 10px;
    }
  }
  .listTitles{
    .listTitle{
      width: 128px;
      margin: 67px 0 43px 8px;
    }
  }
  ul.projectList{
    width: $smallColumn;
    font-size: 12px;
    li{
      list-style: none;
      &.project{
        padding: 8px 2 * $smallGutter $smallGutter $smallGutter;
        span{
          //line-height: 14px;
        }
      }
    }
    &.active.hover, &.index:first-child{
      width: $smallColumn + 2 * $smallGutter;
      margin: 0 0 0 -1*$smallGutter;
      li{
        &.project{
          margin-right: $smallGutter;
          margin-left: $smallGutter;
        }
      }
      &+ul{
        width: $smallColumn - $smallGutter;
        li{
          &.project{
            margin-left: 0;
            padding: 8px 2*$smallGutter $smallGutter 0;
          }
        }
      }
    }
    &.projectDescription{
      width: $smallColumn*3 + 2*$smallGutter;
      margin-left: 264px;
      .projectSlider{
        padding: 8px 32px 32px;
        .header{
          background: $white url("../images/arrow_up.png") no-repeat;
          background-position: 383px 24px;
          width: $smallColumn * 3 + $smallGutter * 2;
          margin: -8px 0 50px -32px;
          padding: 13px 32px 1px 32px;
          h1{
            margin-top:10px;
            //font-family: $demi;
          }
          &:hover{
            cursor: pointer;
          }
        }
        .fieldCollection{
          margin-bottom: 40px;
          .field {
            margin-bottom: 4px;
            width: 176px;
            float: left;
            &:nth-child(odd){
              width: 180px;
            }
          }
        }
        h2 {
          //font-size: 11px;
        }
        span, p.address{
          //font-size: 15px;
        }
        a.datasheet{
          padding: 10px 35px 9px 8px;
        }
        .description {
          //font-size: 11px;
          padding: 0 0 0 120px;
        }
        &.fixedProjectSliderHeader{
          .header{
            background-position: 383px 24px;
          }
        }
        a.map{
          width: 360px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  a.datasheet{
    //font-size: 9px;
  }
  .nextNavi, .prevNavi{
    width: $smallColumn;
    a{
      width: $smallColumn;
    }
  }
  #backgroundImage {
    top: 8px;
    overflow: hidden;
    .columnsOverlay{
      background: url('../images/bg_general_1024.gif') fixed 270px;
      width: 1115px;
    }
  }
  .studio{
    .about{
      margin: 40px 0 0 8px;
      height: auto;
      .info{
        ul{
          li{
            margin: 8px 0 0 0;
          }
        }
      }
      .imageBlock{
        float:left;
        position: relative;
        img{
          position: absolute;
          top: 0;
          width: 100%;
        }
        p{
          //font-size: 11px;
          //line-height: 16px;
          width: 300px * .8;
        }
      }
      .info{
        position: relative;
        float:left;
        width: 160px * .8;
      }
      .first{
        width: 319px * .8;
        margin-left: 96px * .8;
      }
      .second{
        width: 488px * .7;
        margin-left: 21px * .7;
      }
    }
    .partners{
      margin: 89px 0 0 $smallGutter;
      ul{
        li{
          width: 511px * .8;
          span{
            //font-family: $demi;
            //font-size: 15px;
            margin: 5px 8px 0 8px;
          }
          p{
            width: 150px * .8;
            margin: 0 8px;
            margin: 42px 8px 0 8px;
          }
          &:nth-child(1){
            margin-left:499px * .8;
            margin-bottom: 50px;
            img{
              width: 255px;
              right: 8px;
            }
          }
          &:nth-child(2){
            span, p{
              margin-left:341px * .8;
            }
            img{
              width: 255px;
            }
          }
          &:nth-child(3){
            margin-left:428px * .8;
            img{
              width: 255px;
              right: $smallGutter;
            }
          }
        }
      }
    }
    .staff{
      strong{
        left:$smallGutter;
      }
      .staffRow{
        &.rowType_1{
          .staffImages{
            li{
              &:nth-child(1){
                margin-left: 10px * .8;
              }
              &:nth-child(2){
                margin-left: 21px * .8;
              }
              &:nth-child(3){
                margin-left: 276px * .8;
              }
            }
          }
        }
        &.rowType_2{
          .staffImages{
            li{
              &:nth-child(1){
                margin-left: 95px * .8;
              }
              &:nth-child(2){
                margin-left: 106px * .8;
              }
              &:nth-child(3){
                margin-left: 106px * .8;
              }
            }
          }
        }
        &.rowType_3{
          .staffImages{
            li{
              &:nth-child(1){
                margin-left: 10px * .8;
              }
              &:nth-child(2){
                margin-left: 106px * .8;
              }
              &:nth-child(3){
                margin-left: 191px * .8;
              }
            }
          }
        }
        &.rowType_4{
          .staffImages{
            li{
              &:nth-child(1){
                margin-left: 266px * .8;
              }
              &:nth-child(2){
                margin-left: 21px * .8;
              }
              &:nth-child(3){
                margin-left: 21px * .8;
              }
            }
          }
        }
        &.rowType_5{
          .staffImages{
            li{
              &:nth-child(1){
                margin-left: 10px * .8;
              }
              &:nth-child(2){
                margin-left: 276px * .8;
              }
              &:nth-child(3){
                margin-left: 21px * .8;
              }
            }
          }
        }
      }
      .staffInfo {
        width: 137px;
        li a {
          height: 40px;
          padding: 14px 0 0 9px;
        }
      }
      .staffImages{
        li{
          img{
            width: 149px * .8;
          }
          .overlay {
            width: 149px * .8;
            top: 122px * .8;
            height: 70px;
            padding: 15px 20px;
            .title{
              //font-size: 10px;
            }
            .phone{
              //font-size: 15px;
            }
          }
        }
      }
    }
    .jobs{
      margin: 89px 0 0 $smallGutter;
      .subline{
        //font-family: $demi;
        //font-size: 15px;
        padding-right: 850px * .8;
        margin: 45px * .8 0 ;
      }
      .general{
        width: 490px * .8;
        float:left;
        //font-size: 11px;
        //line-height: 16px;
        margin-right: $smallGutter;
      }
      ul{
        display: block;
        width: 240px * .8;
        float: left;
        margin: 14px 0 0 $smallGutter;
        li{
          width: 240px * .8;
          strong{
            //font-size: 11px;
            text-transform: none;
          }
          p{
            margin-top: 1px;
            //font-size: 11px;
            //line-height: 16px;
          }
        }
      }
    }
    .awards{
      margin: 89px 0 0 $smallGutter;
      ul{
        margin: 25px 0 100px 128px;
        width: 850px * .8;
        li{
          width:170px * .8;
          padding: $smallGutter;
          h2{
            //font-size: 10px;
          }
          p{
            //font-size: 11px;
            line-height: 15px;
          }
        }
      }
    }
  }
  .viewport.press{
    h1{
      //font-size: 15px;
    }
    h3{
      //font-size: 9px;
    }
    ul.newsItems{
      width: 359px * .8;
      padding: 76px 0 100px 0;
      li{
        width: 339px * .8;
        margin: 0 0 40px $smallGutter;
      }
    }
    .newsItemView{
      width: 360px * .8;
      padding: 25px 16px 10px;
      .description{
        //font-size: 11px;
        line-height: 15px;
      }
    }
  }
  .viewport.imprint{
    z-index: 300;
    position: relative;
    top: -8px;
    font-size: 12px;
    .contact{
      margin: 132px 0 0 $smallGutter;
      float:left;
    }
    .info{
      margin: 120px 0 0 161px * .8;
      float: left;
      width: 500px;
    }
  }
}