/*

Störmer Murphy and Partners

Alex Feyerke for We Are Fellows, 2012

*/


$wrapperWidth: 1190px;
$halfColumn: $wrapperWidth / 14;
$column: 2 * $halfColumn;

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  max-width: 1190px;
  width: 100%;
  margin: 0px auto;
  #content {
    margin: 0 0 0 $column;
    width: 12 * $halfColumn;
  }
  overflow: hidden;
}

header{
  width: $column;
  background: red;
  min-height: 100%;
  position: absolute;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
}

ul.projectList{
  width: $column;
  float:left;
  background: pink;
  margin: 0;
  padding:0;
}

#backgroundImage{

}